@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

:root {
    --primary-color: #B6CCFE;
    --hover-color: #CCDBFD;
    --shadow-color: #E0E1DD;
    --radius: 1.2rem;
    --container-padding: 2rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Stack Sans Text", sans-serif;
}

body {
    min-height: 800px;
    /* border: 3px solid black; */
    font-family: "Stack Sans Text", sans-serif;
    display: flex;
    
}

.nav {
    position: fixed;
    width: 100vw;
    box-shadow: 0 0 10px var(--shadow-color);
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin: 0 2rem;
}

.nav__logo {
    list-style: none;
    margin-right: auto;
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
}

.nav__logo a {
    transition: color 140ms ease-in;
}

.nav__logo:hover a, .nav__logo:focus a {
    color: var(--primary-color);
}

.nav__listitem {
    list-style: none;
    font-weight: bold;
    position: relative;
    padding: 1.5rem 1rem;
    cursor: pointer;
}

.nav__listitem::after {
    content: "";
    width: 0;
    height: 0.3rem;
    border-radius: 0.2rem;
    position: absolute;
    left: 1rem;
    bottom: 0.8rem;
    background-color: var(--primary-color);
    transition: width 200ms ease-in;
}

.nav__listitem:hover::after, .nav__listitem:focus::after {
    width: 80%;
}

.nav__listitem:hover ul, .nav__listitem:focus ul {
    opacity: 1;
    visibility: visible;
}

.nav__listitemdrop {
    position: absolute;
    top: 4.3rem;
    left: -2.5rem;
    box-shadow: 0 0 10px var(--shadow-color);
    background-color: white;
    border-radius: 0.2rem;
    width: 15rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}

.nav__listitemdrop li {
    list-style:  none;
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    transition: background-color 200ms ease-in-out;
}

.nav__listitemdrop li:hover, .nav__listitemdrop li:focus {
    background-color: var(--hover-color);
}

.content1 {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content2 {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.introduction {
    width: 60%;
    padding: var(--container-padding);
    background-color: white;
    border-radius: var(--radius);
    box-shadow: 0 0 10px var(--shadow-color);
}

.tooltiphelp {
    font-weight: bolder;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    top: 9px;
    left: 130px;
    background-color: var(--hover-color);
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 3px;
    box-shadow: 0 0 10px var(--shadow-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}

.tooltip2 {
    position: absolute;
    top: 9px;
    left: 206px;
    background-color: var(--hover-color);
    padding: 5px 10px;
    font-size: 10px;
    border-radius: 3px;
    box-shadow: 0 0 10px var(--shadow-color);
    opacity: 0;
    visibility: hidden;
    transition: opacity 200ms ease-in-out;
}

.tooltiphelp:hover .tooltip, .tooltiphelp:focus .tooltip {
    opacity: 1;
    visibility: visible;
}

.tooltiphelp:hover .tooltip2, .tooltiphelp:focus .tooltip2 {
    opacity: 1;
    visibility: visible;
}

.converter {
    position: relative; 
    padding: var(--container-padding);
    width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px var(--shadow-color);
    border-radius: var(--radius);
}

.converterlabel {
    display: flex;
    justify-content: space-between;
    padding-right: 10px;
}

.display {
    width: 100%;
    padding: 13px 0;
    display: flex;
    justify-content: space-evenly;
    
}

#symbol {
    font-size: 45px;
}

.convertinput {
    padding: 0 0 0 10px;
    height: 60px;
    width: 120px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px var(--shadow-color);
}

.convertoutput {
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
    height: 60px;
    width: 120px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px var(--shadow-color);
}

.convertbtn {
    font-size: large;
    width: 100%;
    padding: 1rem;
    margin-top: 10px;
    background-color: var(--primary-color);
    border-radius: var(--radius);
    box-shadow: 0 0 10px var(--shadow-color);
    cursor: pointer;
    border: none;
    transition: background-color 200ms ease-in-out;
}

.convertbtn:hover, .convertbtn:focus {
    background-color: var(--hover-color);
}


.homenav {
    min-width: 60%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    
}

.navbtns {
    font-size: large;
    width: 15rem;
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: var(--radius);
    box-shadow: 0 0 10px var(--shadow-color);
    cursor: pointer;
    border: none;
    transition: background-color 200ms ease-in-out;
}

.navbtns:hover, .navbtns:focus {
    background-color: var(--hover-color);
}

p {
    text-align: justify;
}

a {
    text-decoration: none;
    color: black;
}

.taxcalculator {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: var(--container-padding);
    border-radius: var(--radius);
    box-shadow: 0 0 10px var(--shadow-color);
}

.taxcalcinput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.taxcalcoutput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.taxinput {
    padding: 0 0 0 10px;
    height: 60px;
    width: 230px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px var(--shadow-color);
}

.taxoutput {
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
    height: 60px;
    width: 230px;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px var(--shadow-color);
}

.calculatetax {
    font-size: large;
    width: 10rem;
    padding: 1rem;
    background-color: var(--primary-color);
    border-radius: var(--radius);
    box-shadow: 0 0 10px var(--shadow-color);
    cursor: pointer;
    border: none;
    transition: background-color 200ms ease-in-out;
}

.calculatetax:hover, .calculatetax:focus {
    background-color: var(--hover-color);
}

.input-area {
    padding: 13px 0 13px 0 ;
}

.numinput {
    padding: 0 0 0 10px;
    height: 50px;
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px var(--shadow-color);
}


.sumoutput {
    padding-top: 13px;
    display: flex;
    flex-direction: column;
}

.sumoutputdisplay {
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    font-size: 20px;
    border-radius: 5px;
    border: 1px solid black;
    box-shadow: 0 0 10px var(--shadow-color);
}

.sumbtns {
    font-size: large;
    width: 100%;
    padding: 1rem;
    margin-top: 10px;
    background-color: var(--primary-color);
    border-radius: var(--radius);
    box-shadow: 0 0 10px var(--shadow-color);
    cursor: pointer;
    border: none;
    transition: background-color 200ms ease-in-out;
}

.payroll {
    border-radius: var(--radius);
    padding: var(--container-padding);
    box-shadow: 0 0 10px var(--shadow-color);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.payroll-inputs {
    margin: 10px;
}

.payroll--inputs {
    margin: 5px;
}

.prbtns {
    font-size: 12px;
    width: 6rem;
    padding: 3px;
    background-color: var(--primary-color);
    border-radius: 4px;
    box-shadow: 0 0 10px var(--shadow-color);
    cursor: pointer;
    border: none;
    transition: background-color 200ms ease-in-out;
}

.prbtns:hover, .prbtns:focus {
    background-color: var(--hover-color);
}